.Sidebar {
    width: 5%;
}

@media (max-width:990px) {
    .Sidebar {
        width: 8%;
    }
}
@media (max-width:600px) {
    .Sidebar {
        width: 10%;
    }
}
@media (max-width:400px) {
    .Sidebar {
        width: 20%;
        margin-right: 2px;
    }
}